.heading-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading-welcome {  
  margin: 40px;
}
.link {
  display: flex;
  align-items: center; 
  text-decoration: none;
  color: #fff; 
}
.logo {
  width: 150px;
  padding: 20px;  
}

.social {
  width: 50%;
  margin: 40px;
  display: flex;
  flex-direction: column;  
  align-items: center;
}
.social-title {
  display: flex;
  flex-direction: column;  
  align-items: center;
}
.social-icons {
  display: flex;
  width: 40%;  
  justify-content: space-around;
  font-size: 30px;  
}
.social-icons > a {
  color: white;
}
.social-icons > a:hover {
  cursor: pointer;
  color: orange;
  text-decoration: none;
}

@media screen and (max-width: 450px) {
  .heading-main {    
    flex-direction: column;       
  }  
  .heading-welcome > p {
    display: none;
    margin: 0px;
  }
  .social {
    width: 90%;
    margin: 20px;
  }
  .social-icons {
    width: 60%;
  }
  .logo {
    width: 100px;    
    align-self: center;    
    padding: 0px;       
  }
  a {
    display: flex;
    flex-direction: column;
  }
}
