.projects { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;  
  grid-template-rows: auto;
  gap: 40px;
  padding: 50px;
}
.project {  
  position: relative;
  border: .5px solid white;
  border-radius: 6px;
  height: 300px;  
  transition: ease-in-out .4s;
  font-size: 1.2em;
}
.project:hover {
  cursor: pointer;
  transform: scale(1.1);  
}
.project > img {
  position: absolute;   
  width: 100%;
  height: 100%;
  z-index: 10;  
  opacity: 1;  
}
.project:hover > img {  
  opacity: 0.3;
  z-index: -10;
}
.project:hover > a {  
  z-index: 10;
  color: #fff;
  padding: 10px; 
}
.project > a {
  color: #fff;   
  text-decoration: none;
  display: flex;
  flex-direction: column;  
  align-items: center;  
}

@media screen and (max-width: 1230px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 875px) {
  .projects {
    grid-template-columns: 1fr;
  }
  h1 {
    text-align: center;
  }
}

