@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@300&family=Marcellus+SC&display=swap');

.App {
  background-color: rgb(33, 78, 114);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  background-color: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App > h1 {
  font-size: 4em;
}
h1, h2 {
  font-family: 'Marcellus SC', serif;
}
p {
  font-family: 'Kodchasan', sans-serif;
}
.logo {
  width: 150px;  
}